@font-face {
    font-family: 'Blanka' ;
    src: url(Blanka-Regular.otf) format(.otf);
}

:root {
    --cor1: rgb(0, 0, 0);
    --cor2: rgb(255, 255, 255);
    --cor3: #f5f3f1ea;

    --fonte-logo: 'Blanka', sans-serif;
    --fonte-padrao: 'Lucida Sans';
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: var(--cor1);
    text-align: center;
        
}

header p {
    color: var(--cor2);
    margin-top: 10px;
    font-size: 20px;
}  

.logo {
    width:auto;
}

nav ul {  
    text-align: justify;  
    display: flex;     
    color: var(--cor2);
    gap: 30px;    
    background-color: var(--cor1);
    list-style: none;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 15px;
}

nav li a {
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold; 
    border-radius: 5px;
    padding: 10px;
    transition: .5s;   
    }

nav ul li a:hover {
    background-color: var(--cor3);
    color: rgb(11, 11, 11);
}
.versiculo {
    padding-bottom: 20px;
}

main {
    text-align: justify;
    padding: 20px;
    margin: 40px; 
    font-family: var(--fonte-padrao);   
}

.conteudo-principal {
    display: flex;    
    gap: 50px;
    text-align: center;
    flex-direction: column;    
}

.conteudo-secundario {
    display: flex;
    gap: 30px;
    text-align: justify;   
    margin: 50px 20px; 
}

.conteudo-secundario p {
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: var(--cor2); 
    padding: 30px;   
}

footer {
    display: flex;
    justify-content: center;   
    background-color: var(--cor1);
    color: var(--cor2); 
    padding: 30px;     
}

footer ul {
    text-decoration: none;
    list-style: none;
}
